
@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/about.css" />
</head>

<body>
    <div id="contenido">
        <h2>Sobre mí</h2>

        <img alt="yo" src="~/img/loren.jpeg" />

        <p>Hola, soy Lorenzo Gómez de Pablo, desarrollador en practicas en <a target="_blank" href="https://www.intermarkit.es/">Intermark IT</a></p>
        <p>Soy un melómano empedernido, de ahí que la idea de mi proyecto se basase entorno a la música.</p>
        </br>
        </br>
        <p>
            He estudiado el ciclo formativo de grado superior de Desarrollo de Aplicaciones Multiplataforma, y actualmente estoy realizando las
            prácticas del curso de Desarrollo en .NET de Dicampus.
        </p>
        <p>Tengo principalmente conocimientos de .NET, aunque también se algo de Java, SQL, Python, Javascript y lenguajes de marcas (HTML, CSS)</p>
    </div>
    
</body>


