
@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/about.css" />
</head>

<body>
    <div id="contenidoYo">
        <h2>Sobre mí</h2>

        <img alt="yo" src="~/img/loren.jpeg" class="imagenes" />

        <p>Hola, soy Lorenzo Gómez de Pablo, desarrollador en practicas en <a target="_blank" href="https://www.intermarkit.es/">Intermark IT</a></p>
        <p>Soy un melómano empedernido, de ahí que la idea de mi proyecto se basase entorno a la música.</p>
        </br>
        </br>
        <p>
            He estudiado el ciclo formativo de grado superior de Desarrollo de Aplicaciones Multiplataforma, y actualmente estoy realizando las
            prácticas del curso de Desarrollo en .NET de Dicampus.
        </p>
        <p>Tengo principalmente conocimientos de .NET, aunque también se algo de Java, SQL, Python, Javascript y lenguajes de marcas (HTML, CSS)</p>
        <p>Número de contacto: 603 80 29 44</p>
        <p>Correo electrónico: lorenzogomezdepablo@gmail.com</p>
    </div>

    <div id="contenidoApp">
        <h2>Sobre la aplicación</h2>

        <img alt="app" src="~/img/rosas.gif" class="imagenes" />

        <p>Esta aplicación está programada utilizando Visual Studio, con la arquitectura de .NET Framework.</p>
        <p>Para las bases de datos, he usado CodeFirst Migrations ModelFirst, lo cuál te permite definir el modelo y posteriormente convertirlo en una base de datos SQL Server.</p>
        </br>
        </br>
        <p>
            Utilizamos la API de Musixmatch para la búsqueda de las canciones. Esta API no es perfecta,
            y no todas las canciones pueden ser encontradas. Para más información, consulte <a href="https://about.musixmatch.com/press#press" target="_blank">la página oficial de Musixmatch</a>.
        </p>
    </div>
    
</body>


