
@{
    ViewBag.Title = "Agradecimiento";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/agradecimiento.css" />
</head>

<body>
    <div id="contenido">
        <h2>Gracias por usar nuestro servicio</h2>
        <p>Tu pedido llegará en al menos 15 días hábiles. Si después de estos 15 días no has recibido tu pedido, contacta al email en la sección Acerca De.</p>
    </div>
</body>