
@{
    ViewBag.Title = "Error";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/error.css" />
</head>

<body>
    <div id="contenido">
        <h2>Se ha producido el siguiente error</h2>
        <p>@ViewBag.mensaje</p>
    </div>
</body>