
@{
    ViewBag.Title = "Servicios";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/servicios.css" />
</head>

<body>
    <div id="contenido">
        <h2>Vive la música a tu manera</h2>
        <p>¿Alguna vez has querido escuchar esa canción que tanto te gusta de Lady Gaga en tu viejo Walkman?
        Ahora, puedes hacerlo.</p>
        <p>Con <span id="lieb">Liebeslied</span>, busca tus canciones, añádelas a tu disco 
        y obtenlo en tu casa en unos días.</p>
        <p>Soportamos formatos traídos desde los años 60, como <span class="textoResaltado">Vinilos</span> y <span class="textoResaltado">Casetes</span>.</p>
        <p>Utilizamos la API de Musixmatch para la búsqueda de las canciones. Esta API no es perfecta,
        y no todas las canciones pueden ser encontradas. Para más información, consulte <a href="https://about.musixmatch.com/press#press" target="_blank">la página oficial de Musixmatch</a></p>


    </div>
</body>

