#saludoCuenta {
    color:red;
}

.body-content {
    margin-bottom:35px;
    bottom: -40px;
}

li{
list-style:none;
}

a {
    color: red;
    display: block;
    text-decoration: underline;
}

a:hover {
    color: white;
}

a:visited {
    color: red;
}

a:visited:hover {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}

.navbar-right{
    text-align:center;
}

.navbar-right > li{
    display:inline-block;
    margin:10px;
}

.navImage {
    height: 30px;
    width: 30px;
}